[user]
	name = tojo chacko
	email = tojo.c@directi.com
[github]
	user = tojochacko
	token = 1ef7c65ac6b7a8947256ad4b7335708d
[alias]
	stash-unapply = !git stash show -p | git apply -R
	co = checkout
	st = status
	d = diff
	a = add
	c = commit
	cm = checkout master
	# Log display from screencast, with train tracks.
	l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	# Alternate log display from Scott Chacon
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	# Other useful aliases:
	unstage = reset HEAD
	staged = diff --cached
	current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
[apply]
  whitespace = warn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[help]
  autocorrect = 1
[status]
  submodule = 1
[push]
  # Only push branches that have been set up to track a remote branch.
  default = current
